Makefile.in.in
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status*
config.guess
config.sub
config.rpath
configure
libtool
stamp-h
stamp-h.in
stamp-h1
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
_stdint.h

gst*.pc

*~
*.o
*.so
*.lo
*.la
*.spec
*.stamp
.libs
.deps
.dirstamp
/m4/*.m4

*-decl.txt
*-decl-list.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt


*.user
*.ncb
*.suo
*.gcno
*.gcda

docs/libs/*-registry.*
docs/libs/html
docs/libs/tmpl
docs/libs/xml
docs/libs/*bak
docs/plugins/*-registry.*
docs/plugins/html
docs/plugins/tmpl
docs/plugins/xml
docs/plugins/*bak

lcov/
