Makefile.in.in
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status*
config.guess
config.sub
config.rpath
configure
libtool
stamp-h
stamp-h.in
stamp-h1
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
_stdint.h

gst*.pc

*~
*.o
*.so
*.lo
*.la
*.spec
*.stamp
.libs
.deps
.dirstamp
/m4/*.m4

*-decl.txt
*-decl-list.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt


*.user
*.ncb
*.suo

docs/libs/*-registry.*
docs/libs/html
docs/libs/tmpl
docs/libs/xml
docs/libs/*bak
docs/plugins/*-registry.*
docs/plugins/html
docs/plugins/tmpl
docs/plugins/xml
docs/plugins/*bak
docs/version.entities

# You might want to consider simplifying the ignores here...
sh.exe.stackdump
tests/examples/generic/cube/Debug/
tests/examples/generic/cube/cube.vcproj.BOWOB.Julien.user
tests/examples/generic/cubeyuv/Debug/
tests/examples/generic/cubeyuv/cubeyuv.vcproj.BOWOB.Julien.user
tests/examples/generic/debug/
tests/examples/generic/doublecube/Debug/
tests/examples/generic/doublecube/doublecube.vcproj.BOWOB.Julien.user
tests/examples/generic/generic.ncb
tests/examples/generic/generic.suo
tests/examples/generic/recordgraphic/Debug/
tests/examples/generic/recordgraphic/recordgraphic.vcproj.BOWOB.Julien.user
tests/examples/gtk/debug/
tests/examples/gtk/filterxoverlay/Debug/
tests/examples/gtk/filterxoverlay/Release/
tests/examples/gtk/filterxoverlay/filterxoverlay.vcproj.BOWOB.Julien.user
tests/examples/gtk/fxtest/Debug/
tests/examples/gtk/fxtest/Release/
tests/examples/gtk/fxtest/fxtest.vcproj.BOWOB.Julien.user
tests/examples/gtk/gtk.ncb
tests/examples/gtk/gtk.suo
tests/examples/gtk/gtkxoverlay/Debug/
tests/examples/gtk/gtkxoverlay/Release/
tests/examples/gtk/gtkxoverlay/gtkxoverlay.vcproj.BOWOB.Julien.user
tests/examples/gtk/pixbufdrop/Debug/
tests/examples/gtk/pixbufdrop/Release/
tests/examples/gtk/pixbufdrop/pixbufdrop.vcproj.BOWOB.Julien.user
tests/examples/gtk/release/
tests/examples/qt/videoxoverlay/Debug/
tests/examples/qt/videoxoverlay/generatedfiles/
tests/examples/qt/videoxoverlay/videoxoverlay.ncb
tests/examples/qt/videoxoverlay/videoxoverlay.suo
tests/examples/qt/videoxoverlay/videoxoverlay.vcproj.BOWOB.Julien.user
tests/examples/generic/recordgraphic/record.avi
tests/examples/gtk/filternoxoverlay/Debug/
tests/examples/gtk/filternoxoverlay/filternoxoverlay.vcproj.BOWOB.Julien.user
tests/examples/gtk/switchxoverlay/switchxoverlay
tests/examples/qt/mousexoverlay/Debug/
tests/examples/qt/mousexoverlay/generatedfiles/
tests/examples/qt/mousexoverlay/mousexoverlay.ncb
tests/examples/qt/mousexoverlay/mousexoverlay.suo
tests/examples/qt/mousexoverlay/mousexoverlay.vcproj.BOWOB.Julien.user
tests/examples/qt/qglwidgetxoverlay/Debug/
tests/examples/qt/qglwidgetxoverlay/generatedfiles/
tests/examples/qt/qglwidgetxoverlay/qglwidgetxoverlay.ncb
tests/examples/qt/qglwidgetxoverlay/qglwidgetxoverlay.suo
tests/examples/qt/qglwidgetxoverlay/qglwidgetxoverlay.vcproj.BOWOB.Julien.user
tests/examples/sdl/sdlshare
win32/codeblock/Debug/
win32/codeblock/Release/
win32/codeblock/gstopengl.depend
win32/codeblock/gstopengl.layout
win32/codeblock/obj/
win32/vs8/Debug/
win32/vs8/Release/
win32/vs8/bumpwall.bmp
win32/vs8/libgstopengl.ncb
win32/vs8/libgstopengl.suo
win32/vs8/libgstopengl.vcproj.BOWOB.Julien.user
win32/vs8/normalmap.bmp

