sh.exe.stackdump
tests/examples/generic/cube/Debug/
tests/examples/generic/cube/cube.vcproj.BOWOB.Julien.user
tests/examples/generic/cubeyuv/Debug/
tests/examples/generic/cubeyuv/cubeyuv.vcproj.BOWOB.Julien.user
tests/examples/generic/debug/
tests/examples/generic/doublecube/Debug/
tests/examples/generic/doublecube/doublecube.vcproj.BOWOB.Julien.user
tests/examples/generic/generic.ncb
tests/examples/generic/generic.suo
tests/examples/generic/recordgraphic/Debug/
tests/examples/generic/recordgraphic/recordgraphic.vcproj.BOWOB.Julien.user
tests/examples/gtk/debug/
tests/examples/gtk/filterxoverlay/Debug/
tests/examples/gtk/filterxoverlay/Release/
tests/examples/gtk/filterxoverlay/filterxoverlay.vcproj.BOWOB.Julien.user
tests/examples/gtk/fxtest/Debug/
tests/examples/gtk/fxtest/Release/
tests/examples/gtk/fxtest/fxtest.vcproj.BOWOB.Julien.user
tests/examples/gtk/gtk.ncb
tests/examples/gtk/gtk.suo
tests/examples/gtk/gtkxoverlay/Debug/
tests/examples/gtk/gtkxoverlay/Release/
tests/examples/gtk/gtkxoverlay/gtkxoverlay.vcproj.BOWOB.Julien.user
tests/examples/gtk/pixbufdrop/Debug/
tests/examples/gtk/pixbufdrop/Release/
tests/examples/gtk/pixbufdrop/pixbufdrop.vcproj.BOWOB.Julien.user
tests/examples/gtk/release/
tests/examples/qt/videoxoverlay/Debug/
tests/examples/qt/videoxoverlay/generatedfiles/
tests/examples/qt/videoxoverlay/videoxoverlay.ncb
tests/examples/qt/videoxoverlay/videoxoverlay.suo
tests/examples/qt/videoxoverlay/videoxoverlay.vcproj.BOWOB.Julien.user
win32/codeblock/Debug/
win32/codeblock/Release/
win32/codeblock/gstopengl.depend
win32/codeblock/gstopengl.layout
win32/codeblock/obj/
win32/vs8/Debug/
win32/vs8/Release/
win32/vs8/bumpwall.bmp
win32/vs8/libgstopengl.ncb
win32/vs8/libgstopengl.suo
win32/vs8/libgstopengl.vcproj.BOWOB.Julien.user
win32/vs8/normalmap.bmp
